<h5 style="text-align: center;">Game rules:</h5>
<ul>
    <li>Program chooses a random secret number with 4 digits.</li>
    <li>All digits in the secret number are different.</li>
    <li>Player has 8 tries to guess the secret number.</li>
    <li>After each guess program displays the message "M:m; P:p" where: - m - number of matching digits but not on the right places - p - number of matching digits on exact places</li>
    <li>Game ends after 8 tries or if the correct number is guessed.</li>
</ul>